@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

  
.mainActivity {
background: linear-gradient(135deg, #EEFFFF 0%, #F2F6FF 25%, #E8EEFF 50%, #DDDEF0 75%, #e0e7ff 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
align-items: center;
position: relative;
justify-content: center;
}
.bgPremium{
  background: #222435 !important;
}
.logoFb{
  height: 120px;
  width: 120px;
  border-radius: 50px;
  
}
.anim{
  animation: fadeIn 1s ease-in-out;
    }
    @keyframes fadeIn {
      0% {
        transform: scale(0.5);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

.from{
   font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 60px;
  justify-content: center;
  color:#2E4053;
  align-items: center;
}
.logoMeta{
  height: 300px;
  width: 100px;
  color: white ;
}

 .company-name {
  font-weight: 700;
}
