@import url(/src/assents/css/components/UI/loading.component.css);
@import url(/src/assents/css/vendor/toastify.css);
@import url(/src/assents/css/components/UI/verification.css);
@import url(/src/assents/css/pages/Nexus/loading.blur.css);
@import url(https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css);
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}


body {
    font-family: Arial, sans-serif;
    color: white;
    background: #0b1c30;
}

#root {
    width: 100%;
    height: 100vh !important;
    background: #0b1c30;
    box-sizing: border-box;
    position: relative; 
    overflow-y: hidden; 
    overflow-x: hidden; 
    
}
.auto{
    overflow-y: auto !important;
}

.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}




.swal2-popup {
  background-color: #333;
  color: #fff;
}

.swal2-title {
  color: #fff;
}

.swal2-content {
  color: #fff;
}

.swal2-actions {
  background-color: #333;
}

.swal2-confirm {
  background-color: #555;
  color: #fff;
}

.swal2-cancel {
  background-color: #666;
  color: #fff;
}


/* From Uiverse.io by abrahamcalsin */
.dot-spinner {
    --uib-size: 1rem;
    --uib-speed: .9s;
    --uib-color: white;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 150px;
    justify-content: center;
    height: var(--uib-size);
    width: var(--uib-size);
}

.dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.dot-spinner__dot::before {
    content: '';
    height: 10%;
    width: 10%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

    0%,
    100% {
        transform: scale(0);
        opacity: 0.5;
    }
    
    50% {
        transform: scale(1);
        opacity: 1;
    }
}


        /* Estilos personalizados para o SweetAlert */

        
        .custom-ad-content {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px 0;
        }
        
        .ad-image {
            width: 140px;
            height: 133px;
            border-radius: 10px;

            border: 1px solid #dc2626;
        }
        
        .ad-text {
            flex: 1;
            text-align: left;
        }
        
        .ad-title {
            font-size: 16px;
            font-weight: bold;
            color: #dc2626;
            margin-bottom: 5px;
        }
        
        .ad-description {
            font-size: 12px;
            color: #E4E4E4;
            line-height: 1.4;
        }
        
        .ad-button {
            background: linear-gradient(45deg, #dc2626, #ef4444);
            color: white;
            border: none;
            font-size: 12px;
            padding: 12px 25px;
            border-radius: 20px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-top: 15px;
            width: 100%;
        }
        
        .ad-button:hover {
            background: linear-gradient(45deg, #b91c1c, #dc2626);
            transform: translateY(-1px);
        }
        
        /* btn IA */ 
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.outer-cont {
  padding: 12px 20px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  background: linear-gradient(90deg, #5bfcc4, #f593e4, #71a4f0);
  border-radius: 12px;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow:
    inset 0px 0px 5px #ffffffa9,
    inset 0px 35px 30px #000,
    0px 5px 10px #000000cc;
  text-shadow: 1px 1px 1px #000;
}
.outer-cont::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 12px;
  filter: blur(0);
  z-index: -1;
  box-shadow: none;
  background: conic-gradient(
    #00000000 80deg,
    #40baf7,
    #f34ad7,
    #5bfcc4,
    #00000000 280deg
  );
  transition: all 0.3s ease;
}
.outer-cont:hover::before {
  filter: blur(15px);
}
.outer-cont:active::before {
  filter: blur(5px);
  transform: translateY(1px);
}
.outer-cont:active {
  box-shadow:
    inset 0px 0px 5px #ffffffa9,
    inset 0px 35px 30px #000;
  margin-top: 3px;
}
